
magento-data/var/cache
magento-data/var/session
magento-data/media/catalog/product/cache/

magento/var/cache
magento/var/session
magento/media/catalog/product/cache/

.vagrant
*.zip
nbproject
nbproject/*
nbproject/private
